<%- include('./../components/header',siteInfo); %>
  <body>
    <%- include('./../components/navbar',siteInfo); %> 
    <section style="">
      <div class="container" >
      <div class="row" style="margin-top: 120px;position: relative;">
        <div class="col" >
          <div class="h1-title" style="margin-top: 30px;"><span class="orange_plus" style="font-size: 40px;">CONTACT US</span></div>
          <div style="font-size: 20px;margin-bottom: 10px;margin-top: 10px;">
            IKEJA GRA
            <span class="orange_plus" >5000sqm</span>
          </div>
            <div class="h1-title-sub" style="margin-bottom: 50px;height: 40%;" >
              Et sed ultricies lzn viverra bibendum rhoncus. Morbi aliquam eu morbi in fermentum, viverra. Augue nullam at faucibus duis sit nisl convallis. Feugiat orci consectetur velit porttitor pulvinar in.
          </div>
          <div >
            <button class="btn button_orange" style="width:60%;">
              Schedule Inspection
            </button>
            <button class="btn button_border_line" style="width: 60%;margin-top: 20px;">
              Download Brochure
            </button>
          </div>
        </div>
      </div>
    </div>
    </section>
  </body>