<div class="col-lg-3 mt-4" >
    <div class="card" >
    <img src="<%= img %>" class="card-img-top" alt="..." style="border-radius: 0px;">
    <div class="card-body">
      <h5 class="card-title"><%= title %> </h5>
      <p class="card-text"><%= description %></p>
      <div class="row">
        <div class="col" style="font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #989CA1;">
          May 20th 2020
        </div>
        <div class="col">
         <a href="/blogs" class="orange_plus" style="float:right;font-size:12px;">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>