<div class="row" style="margin:10px;margin-top: 20px;">
    <% if(circle){ %>
    <div class="orange_circle">
        <%= number %>
    </div>
    <% } %>
    <div class="col-lg-6">
        <b style="font-family: 'Be Vietnam Pro', sans-serif;
        font-style:normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000;">
         <%= title %>  
        </b>
        <p>
        <%= content %>
        </p>
    </div>
</div>