<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" >
          <img src="<%= logo %>" />
         <img src="<%= logo_with_text %>" 
         style="width: 160px;height: 54px;"
         />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_us" tabindex="-1" >About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog" tabindex="-2" >Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hub" tabindex="-3" >Realtor’s Hub </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/properties" tabindex="-1" >Properties</a>
          </li>
          
        </ul>
  <a class='btn btn-blank' id="loginbtn"  href="/login" >
  Login
  </a>
  <a class='btn button_orange'  href="/register" >
  Get Started
  </a>
      </div>
    </div>
  </nav>