<div class="col" style="padding-top:40px;">
    <div class="card" style="width:18rem;position: relative;">
     <div class="card-body">
        <span class="small_avatar" style="width: 166px;height: 166px;border-radius: 166px;">
            <img src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2285&q=80"  alt="..." style="width: 166px;height: 166px;border-radius: 166px;">
        </span> 
       <div style="font-family: 'Be Vietnam Pro', sans-serif;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       letter-spacing: 0.1em;
       text-align: left;
       color: #F6891F;">Jonse Bett</div>
       <div style="font-family: 'Be Vietnam Pro', sans-serif;
       font-style: normal;
       font-weight: 600;
       font-size: 24px;
       text-align: left;
       color: #000000;">Executive suite</div>
     </div>
     <img src="images/linkedin.png" 
     style="position:absolute;top:0px;right:0px;width:32px;
     height:32px;object-fit: contain;border-radius: 0px;"

     />
    </div>
       </div>