<section class="center" style="min-height:120px;padding:30px;background:white;">
<div class="tx1" style="text-align:center;font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;">Our Agents<span class="orange_plus">.</span></div>
 <div class="row" style="justify-content: center;
 align-items: center;
 display: inline-flex;">
    <% agentList.forEach(function(item){ %>
        <%- include('../components/places', item); %>
      <% }); %>
 </div>
</section>